[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bulbus123
[access "refs/for/refs/*"]
	read = group user/bulbus123
	push = group user/bulbus123
	label-Code-Review = -2..+2 group user/bulbus123
	label-Verified = -1..+1 group user/bulbus123
	rebase = group user/bulbus123
	removeReviewer = group user/bulbus123
	submit = group user/bulbus123
[access "refs/heads/*"]
	read = group user/bulbus123
	create = group user/bulbus123
	push = +force group user/bulbus123
	pushMerge = group user/bulbus123
[access "refs/tags/*"]
	push = +force group user/bulbus123
	pushTag = group user/bulbus123
	pushSignedTag = group user/bulbus123
